# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec

# VS Code config
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# mypy
.mypy_cache/

# dotenv
.env

# Logs
*.log
